{
  "rules": {
    "indent": [
      2,
      2,
      {
        "SwitchCase": 1
      }
    ],
    "space-before-function-paren": [
      2,
      {
        "anonymous": "always",
        "named": "never"
      }
    ],
    "no-use-before-define": [
      2,
      "nofunc"
    ],
    "no-multi-spaces": [
      1,
      {
        "exceptions":
        {
          "VariableDeclarator": true
        }
      }
    ],
    // TODO: turn on later
    "comma-dangle": [
      0
    ]
  },
  "env": {
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "airbnb/base"
  ]
}
